# OPENAI_API_KEY: Securely stored in backend environment variables for ChatGPT analysis.
OPENAI_API_KEY=""

# SUPABASE_URL & SUPABASE_ANON_KEY: Used as the cloud backend database.
SUPABASE_URL=https://kekgjepusxamxndonvzh.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtla2dqZXB1c3hhbXhuZG9udnpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5MjM1MzUsImV4cCI6MjA5NTQ5OTUzNX0.tjntQe4FpMovnFHwyANyeLYcg1XqZ8e62UlIvblQTTA
